
@{
    ViewBag.Title = "Blank Page";
}
 

    <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        <div id="panel-10" class="panel">
          <div class="panel-hdr">
            <h2>
              title
            </h2>
          </div>
          <div class="panel-container show">
            <div class="panel-content bg-subtlelight-fade">
              
            </div>
          </div>
        </div>

      </div>
    </div>
<!-- END MAIN CONTENT -->

